@model PaginatedList<SacPlan.Models.Meeting>


@{
    ViewData["Title"] = "Index";
}
<h1><a href="./" style="font-size:15px;color:#ffffff">Home /</a> Meetings</h1>
<p>
    <a asp-action="Create" class="accbtn1">New Meeting</a>
</p>
<form asp-controller="Meetings" asp-action="Index" method="get" class="float-right">
<div class="form-actions no-color">
    <p>
        Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
        <input type="submit" value="Search"  class="accbtn2" /> |
        <a asp-action="Index" class="btn">Back to Full List</a>
    </p>
</div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Meeting Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Conducting</a>
            </th>
            <th>
                Presiding
            </th>
            <th>
                Invocation
            </th>
            <th>
                Benediction
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conductor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presiding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benediction)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MeetingID" class="accbtn2">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.MeetingID" class="accbtn2">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.MeetingID" class="accbtn2">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="accbtn2 @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="accbtn2 float-right @nextDisabled">
    Next
</a>