@model IEnumerable<SacPlan.Models.Speaker>

@{
    ViewData["Title"] = "Meetings";
}

<p style="margin-top:30px">
    <a asp-action="Create" class="accbtn1" asp-route-mid="@ViewData["MeetingID"]">Add Speaker</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                <a asp-action="Edit" class="accbtn2" asp-route-id="@item.SpeakerID" asp-route-mid="@ViewData["MeetingID"]">Edit</a> |
                <a asp-action="Details" class="accbtn2" asp-route-id="@item.SpeakerID" asp-route-mid="@ViewData["MeetingID"]">Details</a> |
                <a asp-action="Delete" class="accbtn2" asp-route-id="@item.SpeakerID" asp-route-mid="@ViewData["MeetingID"]">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
